@font-face {
    font-family: Roboto;
    src: url('../phan_bo_tro/font_Roboto/Roboto-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../phan_bo_tro/font_Roboto/Roboto-Bold.ttf');
    font-style: normal;
}

@font-face {
    font-family: Roboto-Light;
    src: url('../phan_bo_tro/font_Roboto/Roboto-Light.ttf');
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.title {
    font-family: Roboto-Bold;
    text-align: center;
    padding: 30px 0 10px;
}

div.menu_ngang a {
	color:blue;
	/* margin-left: 200px;
	margin-right: 100px; */
	text-decoration: none;
}
div.menu_ngang a:hover {
	color:red;
}
.menu_doc {
    padding-left: 60px;
}
div.menu_doc a {
	color:black;
	text-decoration: none;
	display:block;
    padding-bottom: 5px;
}
div.menu_doc a i {
    font-size: 10px;
	padding-right: 20px;
}
div.menu_doc a:hover {
	color:#e97777;
}
div.phan_trang a {
	font-size:36px;
	margin-left:5px;
	margin-right:5px;
	text-decoration: none;
	color:blue;
}
div.phan_trang a:hover {
	color:red
}
#mo_ta {
	color: rgb(110, 199, 247);
}
.trang_chu {
    width: 220px;
}
.noi_bat, .moi {
    width: 150px;
}
.single_item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin: 20px;
    text-align: center;
}
.single_item h5 {
    display: block;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 10px;
}
.single_item h5 a {
    color: #000;
	text-decoration: none;
}
.single_item h5 a:hover {
    color: #e97777;
}
.single_item img {
    width: 100%;
}

.lazyload_item img {
    transition: 0.5s;
}

.lazyload_item:hover img {
    opacity: 0.6;
}
.width_form {
    width: 500px;
}
.thong_bao_tim_kiem {
    color: red;
    text-align: center;
    padding: 20px;
}
.category_paging a {
    text-decoration: none;
}
.category_paging {
    padding-bottom: 20px;
    text-align: center;
}
.phan_trang {
    color: black;
    font-size: 13px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 5px 10px;
}
.phan_trang:hover {
    background-color: black;
    color: white;
}
.ben_phai {
    padding-left: 20px;
}
.gia {
    font-size: 20px;
}
.so_luong {
    font-size: 17px;
    padding-right: 10px;
}
.btn_them_vao_gio {
    padding: 10px 20px;
    margin: 50px 0 50px 0;
    color: rgb(52, 100, 125);
    border-radius: 5px;
    background-color: rgb(110, 199, 247);
    border: 3px solid rgb(52, 100, 125);
}
.btn_them_vao_gio:hover {
    color: rgb(110, 199, 247);
    background-color: rgb(52, 100, 125);
    border: 3px solid rgb(110, 199, 247);
}

#mo_ta {
    padding-top: 40px;
    text-align: center;
}
.mo_ta {
    margin: 0 10px;
    padding: 10px;
    text-align: start;
    border: 2px solid rgb(110, 199, 247);
}
.mo_ta p {
    color: rgb(52, 100, 125);
}
.bo_loc {
    margin-bottom: 20px;
    margin-left: 55px;
}



/*---------- footer ----------*/

.footer {
    padding: 30px 0 0 0;
    background-color: #e3f2fd;
    color: rgb(52, 100, 125);
}

.footer a {
    color: rgb(52, 100, 125);
}

.footer h4 {
    font-family: Roboto-Bold;
}

.addr p i {
    padding-right: 5px;
}

.addr ul {
    display: flex;
    padding: 0;
}

.addr li a {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: rgb(110, 199, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 5px;
    color: rgb(52, 100, 125);
}

.addr li a:hover{
    background-color: rgb(52, 100, 125);
    /* color: #000; */
}
.addr li a:hover>i{
    /* background-color: #fff; */
    color: #e3f2fd;
}
.news .col-2 {
    min-width: 60px;
}

.news_item {
    padding-left: 20px;
    align-items: center;
    text-align: left;
    display: flex;
    padding-bottom: 15px;
}

.news_item div {
    padding: 0;
}

.news_item img {
    height: 45px;
    width: 60px;
}

.news_info {
    margin-left: 5px;
    border-bottom: 1px solid #dddddd40;
}

.news_info p {
    margin: 0;
    font-size: 12px;
}

.news_item h5 {
    font-size: 14px;
}
.news_info h5, .phone_num {
    cursor: pointer;
}
.news_info h5:hover, .phone_num span:hover {
    color: #e97777;

}

.bold {
    font-family: Roboto-Bold;
}









.top_nav a {
    color: rgb(52, 100, 125);
}