@font-face {
    font-family: Roboto;
    src: url('../../phan_bo_tro/font_Roboto/Roboto-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../../phan_bo_tro/font_Roboto/Roboto-Bold.ttf');
    font-style: normal;
}

@font-face {
    font-family: Roboto-Light;
    src: url('../../phan_bo_tro/font_Roboto/Roboto-Light.ttf');
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: Roboto;
    background-color: #f5f5f5;
}

.container,
.row {
    padding: 0;
    margin: 0;
}

.line_up {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.main_frame {
    padding: 20px 0 0 0;
}
/*---------- header ----------*/
/* .sidebar {
   display: none;
} */

.top {
    z-index: 1;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    color: #ffffff;
    background-color: #001c40;
}

.tab_menu>i,
.sign_out i {
    padding: 17px;
    background-color: #ffd43b;
    color: #001c40;
}

.close_tab {
    text-align: end;
}

.close_tab i {
    padding: 17px 20px;
    cursor: pointer;
    color: #001c40;
    background-color: #ffd43b;
}

.sidebar {
    z-index: 2;
}

.sidebar>i:first-child {
    text-align: end;
}

.close_tab i:hover,
.tab_menu>i:hover,
.sign_out i:hover {
    transition: all 0.3s ease;
    color: #ffffff;
    background-color: #c6edfd;
}

.tab_menu {
    float: left;
}

.sign_out {
    float: right;
}

.sidebar {
    padding: 20px 10px;
    position: fixed;
    left: 0;
    height: 100%;
    width: 250px;
    color: #ffffff;
    background-color: #001c40;
}

.user {
    text-align: center;
    line-height: 1.5;
}

.user_avatar i {
    padding-top: 4px;
    height: 50px;
    width: 50px;
    border: 3px solid #ffffff;
    border-radius: 50%;
}

.user_name {
    font-size: 17px;
    font-family: Roboto-Bold;
}

.user_designation {
    font-size: 14px;
}
.menu {
    padding-top: 5px;
}
.menu li {
    height: 55px;
    width: 215px;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
    cursor: pointer;
}

.menu a {
    color: #ffffff;
}

.menu i {
    width: 40px;
}

.menu .active,
.menu li:hover {
    background-color: #c6edfd;
    transition: all 0.3s ease;
    color: #001c40;

}
/*---------- content ----------*/

.navbar {
    z-index: 1;
}

.content {
    margin-left: 250px;
    padding: 60px 20px 40px 20px;
    justify-content: center;
}

.content .title {
    font-family: Roboto-Bold;
    font-size: 13px;
    background-color: #ffffff;
    border-radius: 5px;
    border-left: 6px solid #ffd43b;
    padding: 10px 30px;
    margin-bottom: 20px;
}

.box_shadow {
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.14);
}

.box_card {
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.box_card .card-header {
    font-size: 15px;
    font-family: Roboto-Bold;
    color: #d20000;
    padding: 8px 16px;
    border-bottom: 1px solid #dddddd;
    background-color: #dddddd50;
}

.box_card .card-body {
    padding: 16px;
}

.box_card .card-title {
    margin-bottom: 8px;
    font-size: 16px;
    font-family: Roboto-Bold;
}

.box_card .card-text {
    font-size: 14px;
}
/*---------- data product ----------*/

.element_btn {
    padding: 10px;
    text-align: left;
}

.element_btn i {
    padding-right: 5px;
}

.element_btn a {
    font-size: 13px;
    font-family: Roboto-Bold;
}

.addnew_btn {
    color: #003c00;
    background-color: #9dff9d;
    padding: 6px 12px;
    border-radius: 5px;
}

.addnew_btn:hover {
    color: #9dff9d;
    background-color: #003c00;
}

.edit_btn {
    color: #fa9a14;
    background-color: #fbe2c5;
    padding: 6px 12px;
    border-radius: 5px;
}

.edit_btn:hover {
    color: #fbe2c5;
    background-color: #fa9a14;
}

.table {
    margin-top: 15px;
}

.table img {
    width: 70px;
}

.table th,
.table td {
    font-size: 14px;
    padding: 12px;
}

.table tr:hover {
    background-color: #e2e3e560;
}

.trash,
.ban {
    border: none;
    color: #de0400;
    background-color: #f7c3c2;
}

.trash:hover,
.ban:hover {
    color: #f7c3c2;
    background-color: #de0400;
}

.edit,
.unban {
    border: none;
    color: #fa9a14;
    background-color: #fbe2c5;
}

.edit:hover,
.unban:hover {
    color: #fbe2c5;
    background-color: #fa9a14;
}

.swal-button {
    background: #bfffb8;
    border-radius: 5px;
    box-shadow: none;
    color: #0d8800;
    border: none;
}

.swal-button--cancel {
    color: #d21010;
    border: none;
    background-color: #ffbdbd;
}

.add_product,
.edit_product {
    text-align: end;
    padding-right: 20px;
}
/*---------- form product ----------*/

.title a {
    color: #212529;
}

.title ul li {
    padding-left: 10px;
}

.sub_title {
    padding: 20px;
}

.sub_title div {
    height: 2px;
    width: 100%;
    background-color: #FFD43B;
}

.form_add {
    padding-bottom: 15px;
}

.form_group {
    padding-top: 20px;
}

.form_edit img,
.form_add img {
    position: relative;
    width: 150px;
    margin-right: 30px;
}

.hinh {
    text-align: left;
}

.thumb {
    z-index: 999;
}

.thumb:hover {
    filter: brightness(0.5);
}

.time {
    position: absolute;
    margin-left: -25px;
    z-index: 999;
    cursor: pointer;
    background-color: #ce0122;
    color: white;
}
/*---------- order product ----------*/

#past3M,
#past1Y {
    display: none;
}

.tab {
    padding-top: 15px;
    display: flex;
}

.tab li {
    margin-right: 20px;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #c6edfd;
    color: #001c40;
    border-radius: 5px;
}

.tab li.active_tab {
    background-color: #001c40;
    color: #c6edfd;
}

@media (max-width: 768px) {
    header>.sidebar {
        display: none;
    }
    .content {
        margin-left: 0;
    }
    .form_edit {
        margin-left: 0;
    }
}

.finish {
    color: #02790c;
    background-color: #bfefc4;
}

.wait {
    color: #0f2094;
    background-color: #b6bef5;
}

.delivery {
    color: #8b9400;
    background-color: #f2f98a;
}

.cancelled {
    color: #a90312;
    background-color: #f9c9cd;
}

.finish,
.wait,
.delivery,
.cancelled {
    font-family: Roboto-Bold;
}
/*---------- revenue statistics ----------*/

.top_title_table {
    font-family: Roboto-Bold;
}
.top_title_table h4 {
    margin: 0 5px;
    text-align: start;
}

.top_title_table hr {
    background-color: #ffd43b;
    height: 2px;
    border: none;
    opacity: 1;
    margin: 10px 5px;
}
/*---------- user ----------*/

.active_ban {
    color: red;
}

















/*---------- NEW ----------*/
.table, td, th {
    border-collapse: collapse;
    border: 1px solid #c8c7c7;
}
.table thead {
    background-color: #dddddd;
}
.title, tr {
    text-align: left;
}
table {
    width: 98%;
}
.loc {
    padding-left: 100px;
}
.category_paging {
    padding-bottom: 20px;
    text-align: center;
}
.phan_trang {
    color: black;
    font-size: 13px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 5px 10px;
}
.phan_trang:hover {
    background-color: black;
    color: white;
}
.menu li {
    display: inline-flex;
}
.menu_item {
    align-items: center;
}
.menu a,.element_btn a, tbody td a  ,.category_paging a {
    text-decoration: none;
}
.main_frame {
    align-items: center;
}
.w {
    width: 500px;
}
.tb {
    color: red;
    padding-bottom: 20px;
}
.hinh_anh span {
    padding-right: 65px;
}
.thong_bao_sai {
    color: red;
}
.link {
    color: red;
    cursor: pointer;
}